/* varaibles */

:root {
    --color-amarillo: #F7DF1E;
    --color-letra-principal: white;
    --color-negro: rgb(29, 25, 37);
}


/* selector universal */

* {
    margin: 0;
    padding: 0;
    font-family: Nunito;
}

body {
    background-color: var(--color-negro);
}


/* Header */

header {
    color: var(--color-negro);
    background-color: var(--color-amarillo);
    text-align: left;
}

header img {
    width: 70px;
    float: right;
}


/* Introduccion */

#introduccion {
    color: var(--color-letra-principal);
    margin: 5% 15%;
}

#introduccion h3 {
    border-top: var(--color-amarillo) solid 2px;
}


/* Seccion de grid */

#grid {
    color: var(--color-letra-principal);
    display: grid;
    margin: 10% 15%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25%;
    grid-gap: 10px;
}