/* varaibles */

:root {
    --color-amarillo: #F7DF1E;
    --color-letra-principal: white;
    --color-negro: rgb(29, 25, 37);
    --lineas-borde: 4px;
    --margin-principal: 20px;
    --margin-secundario: 10px;
    --padding-principal: 20px;
    --padding-secundario: 10px;
    --tamaño-titulos-ejercicios: 25px;
    --tamaño-parrafo-ejercicios: 20px;
}


/* selector universal */

* {
    margin: 0;
    padding: 0;
    font-family: Nunito;
}

body {
    background-color: var(--color-negro);
}

html {
    scroll-behavior: smooth;
}


/* Header */

header {
    position: relative;
    z-index: 500;
    color: var(--color-negro);
    background-color: var(--color-amarillo);
    text-align: left;
    padding: var(--padding-secundario);
    padding-left: var(--padding-principal);
}

header img {
    width: 70px;
    float: right;
}


/* nav bar */

nav {
    text-align: center;
    z-index: 1;
    margin-top: -8%;
    position: fixed;
    width: 12%;
    height: 100%;
    border-right: 1px solid var(--color-amarillo);
}

#logo-nav {
    height: 90px;
    z-index: 1;
    background-color: var(--color-amarillo);
    width: 100%;
    border-right: solid 1px var(--color-amarillo);
}

.elemento-lista {
    margin-top: 30px;
}

nav ul li a {
    border-radius: 17px;
    padding: 7px;
    color: var(--color-letra-principal);
    text-decoration: none;
    transition: all ease-in-out 150ms;
}

nav ul li :hover {
    color: var(--color-negro);
    background-color: var(--color-amarillo);
}

nav ul li img {
    float: left;
    width: 90px;
}


/* Introduccion */

#introduccion {
    color: var(--color-letra-principal);
    margin: 5% 15%;
}

#introduccion h2 {
    font-size: var(--tamaño-titulos-ejercicios);
    border-bottom: var(--color-amarillo) solid var(--lineas-borde);
    margin-bottom: var(--margin-secundario);
}

#introduccion span {
    margin-top: var(--margin-principal);
    padding-bottom: var(--margin-principal);
}


/* Seccion de grid */

#grid {
    color: var(--color-letra-principal);
    display: grid;
    margin: 10% 15%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-row: auto;
    grid-gap: var(--margin-principal);
    height: 500px;
}


/* items */

.item {
    border: solid 1px var(--color-amarillo);
    border-radius: 17px;
    padding: var(--padding-principal);
}

span {
    font-size: var(--tamaño-titulos-ejercicios);
}

.parrafo-ejercicio {
    font-size: var(--tamaño-parrafo-ejercicios);
}


/* Ejercicio uno */

#ejercicioUno {
    margin: var(--margin-principal);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.grid-version-js {
    border-right: solid var(--lineas-borde) var(--color-amarillo);
    margin: var(--margin-principal);
    padding-right: var(--padding-principal);
}